<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>NJKWebViewProgress</string>
			<key>File</key>
			<string>WebViewProgress</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>DTCoreText</string>
			<key>File</key>
			<string>DTCoreText</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>TUSafariActivity</string>
			<key>File</key>
			<string>TUSafariActivity</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>JDFNavigationBarActivityIndicator</string>
			<key>File</key>
			<string>JDFNavigationBarActivityIndicator</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>SGNavigationProgress</string>
			<key>File</key>
			<string>SGNavigationProgress</string>
		</dict>
	</array>
</dict>
</plist>
