<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Credits</string>
			<key>FooterText</key>
			<string>Lead programmer: Pan Ziyue
Graphics designer: Christopher Kok
Beta tester: Liaw Xiao Tao

Copyright (C) Developed by StatiX Industries &amp; Published by SST Inc. 2013-2016. All Rights Reserved

Per aspera ad astra - Through adversity, to the stars</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Third Party API Licenses</string>
			<key>File</key>
			<string>License</string>
		</dict>
	</array>
</dict>
</plist>
